@import url('https://fonts.googleapis.com/css2?family=Radley:ital@1&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pr-3{
  padding-right: 10px;
}

.mr3{
  margin-right: 8px;
}

ml3{
  margin-left: 3px;
}

.font-weight-bold{
  font-weight: 700;
}

.text-center{
  text-align: center;
}

.pl0{
  padding-left: 0px!important;
}

/* Navigation Bar */
.head-name{
  font-family: 'Radley', serif;
  color: rgb(155, 72, 2);
}

.nav-link-item{
  font-size: 24px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #9B4819;
}

/* About */
.greeting{
  font-family: 'Radley', serif;
  font-size: 86px;
}

.greeting-designation{
  font-family: 'Radley', serif;
  font-size: 50px;
  color: #db9065;
}

.social-media{
  height: 50px;
  width: 50px;
}

.button {
  color: black;
  padding: 16px 30px 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  cursor: pointer;
  font-family: 'arial', serif;
  font-weight: bold;
}

.aboutme{
  margin-top: 28vh;
  margin-bottom: 5rem;
}

